body {
  font-family: cursive;
	background-color: rgb(255, 157, 229);
  color: rgb(0, 0, 0);
  text-align: justify;
}

.navbar {
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  background-color: rgb(212, 103, 255);
}

h2 {
  background-color: #6d4b8d;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img.me {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

div.portfolio-block {
  height: fit-content;
  min-height: 270px;
}

img.portfolio {
  float: right;
  margin-left: 20px;
}

li {
  float: right;
}

li.left {
  float: left;
}

button {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  color: #000000;
  font-size: 20px;
  background: #8800ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
}

button:hover {
  background: #7c0294;
  text-decoration: none;
}

a:link { 
  color: rgb(0, 0, 0);
  background-color: lightskyblue;
}
a:visited {
  color: rgb(0, 0, 0);
  background-color: #6d4b8d;
}
a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}