:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #010b14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fancy-name {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(15deg, #1d93f3 10%, #f714d1 25%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 500% auto;
  font-weight: 700;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header-text {
  font-size: 5em;
  margin: 3% 0;
}

.body-text {
  font-size: 1.25em;
  margin: 3% 0;
}

@media (width < 500px) {
  /* decrease the size of the flex box
   * to improve positioning on mobile
   */
  body {
    min-height: 80vh;
  }
  
  .header-text {
    font-size: 3em;
  }

  .body-text {
    font-size: 1em;
  }
}